# dependințe
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# loguri
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# variabile de mediu
.env
.env.local
.env.*.local
